<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Company Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-inverse" style="background-color: rgb(2, 2, 20)">
      <div class="container" style="background-color: rgb(2, 2, 20)">
        <div class="navbar-header" class="container">
          <a href="companies/<%= user._id %> ">
            <img src="/uploads/<%=user.compPic %>" class="rounded mr-3" class="container" alt=<%= user.name %> style="color: beige" height="50" />
          </a>
        </div>
        <h1 class="text-white"><%= user.name %></h1>
        <form action="/logout" id="logout" method="POST">
          <button class="btn btn-outline-success mx-2" type="submit" onclick="document.getElementById('logout')">Logout</button>
        </form>
      </div>
    </nav>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="container">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/jaipur.jpg" alt="ls" />
          </div>

          <div class="carousel-item">
            <img src="/images/jaipur.jpg" alt="jaipur" />
          </div>

          <div class="carousel-item">
            <img src="/images/jaipur.jpg" alt="guitar" />
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- body of page that contains company details -->
    <div class="container">
      <button type="button" class="btn btn-primary align-right" data-toggle="modal" data-target="#myModal">Post an offer</button>
    </div>

    <!-- The Modal which opens when post an offer button gets clicked-->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Job Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form action="/jobPost" method="POST" role="form" enctype="multipart/form-data">
              <div class="form-group">
                <label for="jobOffer">Job Offer</label>
                <input type="text" class="form-control" placeholder="Enter Job Offer" id="jobOffer" name="jobOffer" required />
              </div>
              <div class="form-group">
                <label for="description">Description </label>
                <textarea
                  rows="12"
                  type="text"
                  class="form-control"
                  placeholder="Enter Brief Description of Job"
                  id="description"
                  name="description"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <label for="tags">Tags </label>
                <input type="text" class="form-control" placeholder="CTC Offered" id="tags" name="tags" required />
              </div>
              <div class="form-group">
                <label for="postPic">Upload a label for your company</label>
                <input type="file" class="form-control-file" id="postPic" name="postPic" />
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--The Modal which opens when editPost button gets clicked-->
    <div class="modal" id="editModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Job Details</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form action="" method="POST" role="form" enctype="multipart/form-data" id="editPost">
              <div class="form-group">
                <label for="editJobOffer">Job Offer</label>
                <input type="text" class="form-control" placeholder="Enter Job Offer" id="editJobOffer" name="editJobOffer" value="" required />
              </div>
              <div class="form-group">
                <label for="editDescription">Description </label>
                <textarea
                  rows="12"
                  type="text"
                  class="form-control"
                  placeholder="Enter Brief Description of Job"
                  id="editDescription"
                  name="editDescription"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <label for="editTags">Tags </label>
                <input type="text" class="form-control" placeholder="CTC Offered" id="editTags" name="editTags" required />
              </div>
              <div class="form-group">
                <label for="editPostPic">Upload a label for your company</label>
                <input type="file" class="form-control-file" id="editPostPic" name="editPostPic" />
              </div>

              <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

   <!-- The Modal which opens when delete post button gets clicked-->
    <div class="modal" id="deleteModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Do you want to delete this post ?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            Oops by continuing to delete this post you mayh loose all it's content and its data. <br />
            To proceed with it click on the delete cutton or you can cancel it too.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="deletePost">Delete</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--recent posts fetched from database-->
    <div class="jumbotron" alignment="align-center" class="container">
      <h1>Recent Posts</h1>
      <div class="container">
        <div class="row">
          <% for (var i = 0; i < user.posts.length; i++) { %>
          <div class="col-sm-6">
            <div class="card shadow bg-white rounded">
              <img class="card-img-top" src="/uploads/<%= user.posts[i].pic %> " alt="Card image" />
              <div class="card-body">
                <h4 class="card-title text-bold"><%= user.posts[i].jobOffer %></h4>
                <p><%= user.posts[i].tags %></p>
                <br />
                <br />
                <div class="card-text"><%= user.posts[i].description %></div>
                <br />
                <button
                  data-post="<%= JSON.stringify(user.posts[i]) %>"
                  type="button"
                  class="edit-post btn btn-success align-right"
                  data-toggle="modal"
                  data-target="#editModal"
                >
                  Edit the post
                </button>
                <button
                  data-post="<%= JSON.stringify(user.posts[i]) %>"
                  type="button"
                  class="del-post btn btn-danger ml-auto"
                  data-toggle="modal"
                  data-target="#deleteModal"
                >
                  Delete the post
                </button>
              </div>
            </div>
          </div>
        <% } %> 
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/companies.js"></script>
  </body>
</html>
