<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Developer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <!--Navigation-->

    <nav class="navbar navbar-expand-md navbar-light bg-light static-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <h3>hello Developer</h3>
        </a>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarToggler">
          <form action="/logout" id="logout" method="POST">
            <button class="btn btn-outline-success mx-2" type="submit" onclick="document.getElementById('logout')">Logout</button>
          </form>
        </div>
      </div>
    </nav>
    <!--modal-->
    <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" id="orangeForm-name" class="form-control validate" />
              <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
            </div>
            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="email" id="orangeForm-email" class="form-control validate" />
              <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <input type="password" id="orangeForm-pass" class="form-control validate" />
              <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-deep-orange">Sign up</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <br />
          <br />
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSN5jUJKPKak2gtSdLwDscBINML-e6IKLCyOg&usqp=CAU"
            class="rounded-circle"
            alt="Cinque Terre"
            width="100%"
          />
        </div>

        <div class="col-sm-9">
          <br />
          <br />

          <div class="row">
            <div class="col-sm-4">
              <h1>Name Khandelwal</h1>
            </div>
            <div class="col-sm-8">
              <button type="button" class="btn btn-primary">Edit Profile</button>
              <button type="button" class="btn btn-info">Info</button>
            </div>
          </div>

          <h4>New York, YashianLand</h4>
          <button data-toggle="collapse" data-target="#demo" class="btn btn-primary">Collapsible</button>

          <div id="demo" class="collapse">Lorem ipsum dolor text....</div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
      </div>
    </div>
  </body>
  <script src="/public/javascript/devProfile.js">

  </script>
</html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Developer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>
    <!--Navigation-->

    <nav class="navbar navbar-expand-md navbar-light bg-light static-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <h3>
            <img src="/uploads/<%= dev.devPic %> " width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy" />
            DevHire
          </h3>
        </a>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mx-1">
            <li class="nav-item active">
              <a class="nav-link" href="/developers">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trending">Company <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <div class="d-flex flex-row">
                <a class="nav-link" href="#">Portfolio<span class="sr-only">(current)</span></a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Connect
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Referals</a>
                <a class="dropdown-item" href="#">Guidance</a>
                <a class="dropdown-item" href="#">Blogs</a>
              </div>
            </li>
          </ul>
          <form action="/trending" method="GET" class="form-inline ml-auto mr-auto">
            <div class="form-group">
              <input type="text" class="form-control mr-3" placeholder="Search companies" id="searchName" name="fltrname" class="form-control" />
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
          <form action="/logout" id="logout" method="POST" class="ml-auto">
            <button class="btn btn-outline-success mx-2" type="submit" onclick="document.getElementById('logout')">Logout</button>
          </form>
        </div>
      </div>
    </nav>

    <!--intro-->
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-3">
          <img src="/uploads/<%= dev.devPic %> " class="rounded-circle" alt="profile photo" width="100%" height="250px" />
        </div>

        <div class="col-sm-6 mt-auto mb-auto ml-5">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="mb-3"><%= dev.firstName %> <%= dev.lastName %></h2>
              <h5 class="text-muted mb-3"><%= dev.headline %></h5>
              <h5 class="text-muted mb-3"><%= dev.city %>, <%= dev.country %></h5>
              <h5 class="mb-3">
                <a href="<%= dev.linkedin %> " class="mr-3"><i class="fa fa-linkedin fa-lg"></i></a>
                <a href="<%= dev.github %> " class="mr-3"><i class="fa fa-github fa-lg"></i></a>
                <a href="<%= dev.facebook %> " class="mr-3"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="<%= dev.website %> " class="mr-3"><i class="fa fa-globe fa-lg"></i></a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-primary" data-toggle="modal" data-target="#basicEdit"><i class="fa fa-edit mr-2"></i>Edit profile</button>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
      </div>
    </div>
    <hr />

    <!--modal body for edit basic profile-->
    <div class="modal fade" id="basicEdit" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="basicModalTitle">Edit your basic details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="basicModalBody">
            <form action="/updateBasic/<%= dev._id %> " method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="devpic">Update your profile photo *</label>
                <input type="file" class="form-control-file" id="devpic" name="devpic" />
              </div>
              <div class="form-group">
                <label for="dob">Date of Birth *</label>
                <input type="date" class="form-control-file" id="dob" name="dob" value="<%= moment(dev.dob).format( 'YYYY-MM-DD') %> " required />
              </div>
              <div class="form-group">
                <label for="headline">Headline *</label>
                <textarea type="text" class="form-control-file" id="headline" name="headline" required></textarea>
              </div>
              <div class="form-group">
                <label for="institution">Institution *</label>
                <input type="text" class="form-control-file" id="institution" name="institution" required value="<%= dev.institution %> " />
              </div>
              <div class="form-group">
                <label for="country">Country *</label>
                <input type="text" class="form-control-file" id="country" value="<%= dev.country %> " name="country" required />
              </div>
              <div class="form-group">
                <label for="city">City *</label>
                <input type="text" class="form-control-file" id="city" value="<%= dev.city %> " name="city" required />
              </div>
              <div class="form-group">
                <label for="industry">Industry *</label>
                <input type="text" class="form-control-file" id="industry" value="<%= dev.industry %> " name="industry" required />
              </div>
              <div class="form-group">
                <label for="linkedin">LinkedIn profile</label>
                <input type="url" class="form-control-file" id="linkedin" value="<%= dev.linkedin %> " name="linkedin" />
              </div>
              <div class="form-group">
                <label for="github">Github profile</label>
                <input type="url" class="form-control-file" id="github" value="<%= dev.github %> " name="github" />
              </div>
              <div class="form-group">
                <label for="facebook">Facebook profile</label>
                <input type="url" class="form-control-file" id="facebook" value="<%= dev.facebook %> " name="facebook" />
              </div>
              <div class="form-group">
                <label for="website">Website</label>
                <input type="url" class="form-control-file" id="website" value="<%= dev.website %> " name="website" />
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-success mr-auto">Submit</button>
                  <button type="button" class="btn btn-danger ml-auto" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="row d-flex justify-content-center">
        <div class="col sm-3">
          <a href="#section1" class="btn btn-primary">section1</a>
        </div>
        <div class="col sm-3">
          <a href="#section2" class="btn btn-primary">section2</a>
        </div>
        <div class="col sm-3">
          <a href="#section3" class="btn btn-primary">section3</a>
        </div>
      </div>
    </nav>

    <!-- Section 1 -->

    <div class="jumbotron" id="section1">
      <h1 class="text-center">
        Experience
        <button class="btn btn-primary" data-toggle="modal" data-target="#editexp">
          <span><i class="fa fa-edit"></i></span>
        </button>
      </h1>

      <p><b>Following is the my work Experience</b></p>
      <div class="container-fluid" id="job">
        <div class="media mx-4 my-4">
          <img class="mr-3" src="..." alt="image" style="border: 1px crimson" />
          <div class="media-body mx-4">
            <h5 class="">Place 1</h5>
            <h6 class="sub-title text-muted">Time span</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
      </div>
      <hr />
      <div class="container-fluid" style="border: 2px rgb(11, 165, 88)">
        <div class="media mx-4 my-4">
          <img class="mr-3" src="..." alt="image" />
          <div class="media-body mx-4">
            <h5 class="">Place 2</h5>
            <h6 class="sub-title text-muted">Time span</h6>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for experience edit-->
    <div class="modal fade" id="editexp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Job Experience</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="dropdown">
              <span class="align-center">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Select Job</button>
              </span>
              <div class="dropdown-menu">
                <p class="dropdown-item">Job 1</p>
                <p class="dropdown-item">Job 2</p>
                <p class="dropdown-item">add Job</p>
                <!--to add another job experince-->
              </div>
            </div>

            <form>
              <div class="form-group">
                <label for="placeOfIntern" class="col-form-label">Place</label>
                <input type="text" class="form-control" id="placeOfIntern" />
              </div>
              <div class="form-group">
                <label for="spanOfIntern" class="col-form-label">Span</label>
                <input class="form-control" id="spanOfIntern" />
              </div>
              <div class="form-group">
                <label for="internDesc" class="col-form-label">Span</label>
                <textarea class="form-control" id="internDesc"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 2 -->
    <div class="" id="section2">
      <h1>Section 2</h1>
      <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
    </div>

    <!-- Section 3 -->
    <div class="jumbotron" id="section3">
      <h1>Section 3</h1>
      <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
    </div>
  </body>
</html>
