<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Profile Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    
  </head>

  <body>
    <!--Navigation-->

    <nav class="navbar navbar-expand-md navbar-light bg-light static-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <h3>
            <img src="/uploads/<%= dev.devPic %> " width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy" />
            DevHire
          </h3>
        </a>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav mx-1">
            <li class="nav-item active">
              <a class="nav-link" href="/developers">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trending">Company <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <div class="d-flex flex-row">
                <a class="nav-link" href="#">Portfolio<span class="sr-only">(current)</span></a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Connect
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Referals</a>
                <a class="dropdown-item" href="#">Guidance</a>
                <a class="dropdown-item" href="#">Blogs</a>
              </div>
            </li>
          </ul>
          <form action="/trending" method="GET" class="form-inline ml-auto mr-auto">
            <div class="form-group">
              <input type="text" class="form-control mr-3" placeholder="Search companies" id="searchName" name="fltrname" class="form-control" />
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
          <form action="/logout" id="logout" method="POST" class="ml-auto">
            <button class="btn btn-outline-success mx-2" type="submit" onclick="document.getElementById('logout')">Logout</button>
          </form>
        </div>
      </div>
    </nav>

    <!--intro-->
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-3">
          <img src="/uploads/<%= dev.devPic %> " class="rounded-circle" alt="profile photo" width="100%" height="250px" />
        </div>

        <div class="col-sm-6 mt-auto mb-auto ml-5">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="mb-3"><%= dev.firstName %> <%= dev.lastName %></h2>
              <h5 class="text-muted mb-3"><%= dev.headline %></h5>
              <h5 class="text-muted mb-3"><%= dev.city %>, <%= dev.country %></h5>
              <h5 class="mb-3">
                <a href="<%= dev.linkedin %> " class="mr-3"><i class="fa fa-linkedin fa-lg"></i></a>
                <a href="<%= dev.github %> " class="mr-3"><i class="fa fa-github fa-lg"></i></a>
                <a href="<%= dev.facebook %> " class="mr-3"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="<%= dev.website %> " class="mr-3"><i class="fa fa-globe fa-lg"></i></a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <% if(dev._id.toString()==log._id.toString()) {%>
          <button class="btn btn-primary" data-toggle="modal" data-target="#basicEdit"><i class="fa fa-edit mr-2"></i>Edit profile</button>
          <% } %> 
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
        <div class="col">
          <p><b>Acheivement</b></p>
          <p>Lorem</p>
        </div>
      </div>
    </div>
    <hr />

    <!--modal body for edit basic profile-->
    <div class="modal fade" id="basicEdit" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="basicModalTitle">Edit your basic details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="basicModalBody">
            <form action="/updateBasic/<%= dev._id %> " method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="devpic">Update your profile photo *</label>
                <input type="file" class="form-control-file" id="devpic" name="devpic" />
              </div>
              <div class="form-group">
                <label for="dob">Date of Birth *</label>
                <input type="date" class="form-control-file" id="dob" name="dob" value="<%= moment(dev.dob).format( 'YYYY-MM-DD') %> " required />
              </div>
              <div class="form-group">
                <label for="headline">Headline *</label>
                <textarea type="text" class="form-control-file" id="headline" name="headline" required></textarea>
              </div>
              <div class="form-group">
                <label for="institution">Institution *</label>
                <input type="text" class="form-control-file" id="institution" name="institution" required value="<%= dev.institution %> " />
              </div>
              <div class="form-group">
                <label for="country">Country *</label>
                <input type="text" class="form-control-file" id="country" value="<%= dev.country %> " name="country" required />
              </div>
              <div class="form-group">
                <label for="city">City *</label>
                <input type="text" class="form-control-file" id="city" value="<%= dev.city %> " name="city" required />
              </div>
              <div class="form-group">
                <label for="industry">Industry *</label>
                <input type="text" class="form-control-file" id="industry" value="<%= dev.industry %> " name="industry" required />
              </div>
              <div class="form-group">
                <label for="linkedin">LinkedIn profile</label>
                <input type="url" class="form-control-file" id="linkedin" value="<%= dev.linkedin %> " name="linkedin" />
              </div>
              <div class="form-group">
                <label for="github">Github profile</label>
                <input type="url" class="form-control-file" id="github" value="<%= dev.github %> " name="github" />
              </div>
              <div class="form-group">
                <label for="facebook">Facebook profile</label>
                <input type="url" class="form-control-file" id="facebook" value="<%= dev.facebook %> " name="facebook" />
              </div>
              <div class="form-group">
                <label for="website">Website</label>
                <input type="url" class="form-control-file" id="website" value="<%= dev.website %> " name="website" />
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-success mr-auto">Submit</button>
                  <button type="button" class="btn btn-danger ml-auto" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>

    <!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="row d-flex justify-content-center">
        <div class="col sm-3">
          <a href="#section1" class="btn btn-primary">section1</a>
        </div>
        <div class="col sm-3">
          <a href="#section2" class="btn btn-primary">section2</a>
        </div>
        <div class="col sm-3">
          <a href="#section3" class="btn btn-primary">section3</a>
        </div>
      </div>
    </nav>

    <!-- Section 1 -->

    <div class="container" id="section1">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-between">
          <div><h1 class="text-center">Experience</h1></div>
          <div>
            <% if(dev._id.toString()==log._id.toString()) {%>
            <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#addExp">
              <span><i class="fa fa-plus-square"></i></span>
            </button>
          <% } %> 
          </div>
        </div>
      </div>
      <% dev.experience.forEach((exp) => { %> 
        <div class="row border" id="job">
        <div class="col-sm-12 d-flex justify-content-between">
          <div class="media mt-4 mb-4">
            <img class="mr-3 col-sm-2" src="/uploads/<%= exp.media %> " alt="image" style="border: 1px crimson" width="100%"/>
            <div class="media-body col-sm-10">
              <h5 class=""><%= exp.title %> </h5>
              <h6 class=""><%= exp.company %>---<%= exp.type %></h6>
              <p class="sub-title text-muted"><%= moment(exp.startDate).format( 'MMM-YYYY') %> to <%= moment(exp.endDate).format( 'MMM-YYYY') %></p>
              <p class="sub-title text-muted"><%= exp.location %> </p>
              <br>
              <p><%= exp.description %> </p>
            </div>
          </div>
          <div class="pt-2">
            <% if(dev._id.toString()==log._id.toString()) {%>
            <button class="expEdit btn btn-dark btn-sm" data-exp="<%= JSON.stringify(exp) %>" data-toggle="modal" data-target="#editExp">
              <span><i class="fa fa-edit"></i></span>
            </button>
          <% } %> 
          </div>
        </div>
      </div>
      <hr />
      <% }) %> 
    </div>


     <!-- Section 2 -->

    <div class="container" id="section2">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-between">
          <div><h1 class="text-center">Certifications/Achievements</h1></div>
          <div>
            <% if(dev._id.toString()==log._id.toString()) {%>
            <button class="btn btn-dark btn-sm" data-toggle="modal" data-target="#addCert">
              <span><i class="fa fa-plus-square"></i></span>
            </button>
          <% } %> 
          </div>
        </div>
      </div>
      <% dev.certificate.forEach((cert) => { %> 
        <div class="row border" id="job">
        <div class="col-sm-12 d-flex justify-content-between">
          <div class="media mt-4 mb-4">
            <div class="media-body col-sm-12">
              <h5 class=""><%= cert.name %> </h5>
              <h6 class="text-muted"><%= cert.organisation %></h6>
              <h6 class="text-muted">Issued <%= moment(cert.issueDate).format( 'MMM-YYYY') %> </h6>
              <a href="<%= cert.url %> " target="_blank">See the certificate</a>
            </div>
          </div>
          <div class="pt-2">
            <% if(dev._id.toString()==log._id.toString()) {%>
            <button class="certEdit btn btn-dark btn-sm" data-cert="<%= JSON.stringify(cert) %>" data-toggle="modal" data-target="#editCert">
              <span><i class="fa fa-edit"></i></span>
            </button>
          <% } %> 
          </div>
        </div>
      </div>
      <hr />
      <% }) %> 
    </div>

    <!-- Modal for experience add-->
    <div class="modal fade" id="addExp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Job Experience</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/addExp/<%= dev._id %> " enctype="multipart/form-data">
              <div class="form-group">
                <label for="title" class="col-form-label">Title *</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter a suitable title" required />
              </div>
              <div class="form-group">
                <label for="type">Emplyment-type *</label>
                <select id="type" class="form-control" name="type" required>
                  <option selected value="Full-time">Full-time</option>
                  <option value="Part-time">Part-time</option>
                  <option value="Internship">Internship</option>
                  <option value="Freelance">Freelance</option>
                  <option value="Self-employed">Self-employed</option>
                </select>
              </div>
              <div class="form-group">
                <label for="company" class="col-form-label">Company *</label>
                <input type="text" class="form-control" id="company" name="company" placeholder="Enter the company's name" required />
              </div>
              <div class="form-group">
                <label for="location" class="col-form-label">Location </label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Allahabad, India" />
              </div>
              <div class="form-group">
                <label for="start" class="col-form-label">Start Date *</label>
                <input type="date" class="form-control" id="start" name="start" required />
              </div>
              <div class="form-group">
                <label for="end" class="col-form-label">End Date *</label>
                <input type="date" class="form-control" id="end" name="end" required />
              </div>
              <div class="form-group">
                <label for="industry" class="col-form-label">Industry *</label>
                <input type="text" class="form-control" id="industry" name="industry" placeholder="Software" required />
              </div>
              <div class="form-group">
                <label for="description" class="col-form-label">Description</label>
                <textarea type="text" class="form-control" id="description" name="description"></textarea>
              </div>
              <div class="form-group">
                <label for="media" class="col-form-label">Upload any media based on the job/company *</label>
                <input type="file" class="form-control" id="media" name="media" required />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for experience edit-->
    <div class="modal fade" id="editExp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Job Experience</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editExpForm" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="editTitle" class="col-form-label">Title *</label>
                <input type="text" class="form-control" id="editTitle" name="title" placeholder="Enter a suitable title" required />
              </div>
              <div class="form-group">
                <label for="editType">Emplyment-type *</label>
                <select id="type" class="form-control" name="editType" required>
                  <option selected value="Full-time">Full-time</option>
                  <option value="Part-time">Part-time</option>
                  <option value="Internship">Internship</option>
                  <option value="Freelance">Freelance</option>
                  <option value="Self-employed">Self-employed</option>
                </select>
              </div>
              <div class="form-group">
                <label for="editCompany" class="col-form-label">Company *</label>
                <input type="text" class="form-control" id="editCompany" name="company" placeholder="Enter the company's name" required />
              </div>
              <div class="form-group">
                <label for="editLocation" class="col-form-label">Location </label>
                <input type="text" class="form-control" id="editLocation" name="location" placeholder="Allahabad, India" />
              </div>
              <div class="form-group">
                <label for="editStart" class="col-form-label">Start Date *</label>
                <input type="date" class="form-control" id="editStart" name="start" required />
              </div>
              <div class="form-group">
                <label for="editEnd" class="col-form-label">End Date *</label>
                <input type="date" class="form-control" id="editEnd" name="end" required />
              </div>
              <div class="form-group">
                <label for="editIndustry" class="col-form-label">Industry *</label>
                <input type="text" class="form-control" id="editIndustry" name="industry" placeholder="Software" required />
              </div>
              <div class="form-group">
                <label for="editDescription" class="col-form-label">Description</label>
                <textarea type="text" class="form-control" id="editDescription" name="description"></textarea>
              </div>
              <div class="form-group">
                <label for="editMedia" class="col-form-label">Upload any media based on the job/company *</label>
                <input type="file" class="form-control" id="editMedia" name="media" required />
              </div>
              <button type="submit" id="saveChanges" class="btn btn-primary">Save changes</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for cerifications add-->
    <div class="modal fade" id="addCert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add any accomplishments</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/addCert/<%= dev._id %>" method="POST">
              <div class="form-group">
                <label for="nameCert" class="col-form-label">Name *</label>
                <input type="text" class="form-control" id="nameCert" name="name" placeholder="Enter a suitable name" required />
              </div>
              <div class="form-group">
                <label for="orgCert" class="col-form-label">Issuing Organisation *</label>
                <input type="text" class="form-control" id="orgCert" name="org" placeholder="Google" required />
              </div>
              <div class="form-group">
                <label for="issue" class="col-form-label">Issue Date</label>
                <input type="date" class="form-control" id="issue" name="issue" />
              </div>
              <div class="form-group">
                <label for="cred" class="col-form-label">Credential Url</label>
                <input type="url" class="form-control" id="cred" name="cred" />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for cerifications edit-->
    <div class="modal fade" id="editCert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editCertForm">
              <div class="form-group">
                <label for="editNameCert" class="col-form-label">Name *</label>
                <input type="text" class="form-control" id="editNameCert" name="name" required />
              </div>
              <div class="form-group">
                <label for="editOrgCert" class="col-form-label">Issuing Organisation *</label>
                <input type="text" class="form-control" id="editOrgCert" name="org" required />
              </div>
              <div class="form-group">
                <label for="editIssue" class="col-form-label">Issue Date</label>
                <input type="date" class="form-control" id="editIssue" name="issue" />
              </div>
              <div class="form-group">
                <label for="editCred" class="col-form-label">Credential Url</label>
                <input type="url" class="form-control" id="editCred" name="cred" />
              </div>
              <button id="saveCert" type="submit" class="btn btn-primary">Save changes</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/devProfile.js"></script>
  </body>
</html>
